<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Language</title>
    <script src="{{url_for('static',filename = 'babylon.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename = 'styles.css')}}">
    
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/babylon">Enter Babylon</a>
        </nav>
    </header>
    <main>
        <h1>Create your own language</h1>

        <form action="/post_language" method="post">
            <p>Introduce the name of your language</p>
            <input type="text" name="nombre" id="">
            <p>Introduce its ISO 639-3 code</p>
            <input type="text" name="iso" id="">
            <!-- concatemanos los paises cada vez que se introduce uno -->
            <p>Introduce its characters</p>
            <input type="text" name="characters" id="">
            <p>Introduce its linguistic root</p>
            <input type="text" name="roots" id="">
            <p>Introduce the number of native speakers</p>
            <input type="text" name="speakers" id="">
            
            <button type="submit">Add!</button>
        </form>

        <div id="languages_display"></div>
    </main>
    <footer>
        <p>&copy; 2025 Language Builder. All rights reserved.</p>
    </footer>
</body>
</html>