<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Language</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/babylon">Enter Babylon</a>
            <a href="/language_compare">Compare languages</a>
        </nav>
    </header>
    <main>
        <h1>Build yo' own languague!</h1>
        <br>
        <br>
        <br>
        <br>
        <img src="https://images.immediate.co.uk/production/volatile/sites/7/2016/01/GettyImages-567940171-04e94eb.jpg" alt="">
    </main>
    <footer>
        <p>&copy; 2025 Language Builder. All rights reserved.</p>
    </footer>
</body>
</html>