<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Languages</title>
    <script src="{{url_for('static',filename = 'langcompare.js')}}"></script>
    <link rel="stylesheet" href="/static/lanComp.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/babylon">Enter Babylon</a>
        </nav>
    </header>

    <main>
        <h1>Select two languages to compare</h1>

            <select id="language_a" type = ''>
                <option value="" disabled selected>Select Language</option>
            </select>
            
            <select id="language_b" type = ''>
                <option value="" disabled selected>Select Language</option>
            </select>
            <br>
            <br>
            <button onclick="getSimilarities()">Compare</button>

        <div id="similarities_display"></div>
        <img src="" alt="" id="simImage">

    </main>

    <footer>
        <p>&copy; 2025 Language Builder. All rights reserved.</p>
    </footer>
    
</body>
</html>