<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static',filename = 'langcompare.js')}}"></script>
</head>
<body>

    <h1>Select two languages to compare</h1>
    <select id="language_a" type = ''>
        <option value="" disabled selected>Select Language</option>
    
    </select>
    

    
    <select id="language_b" type = ''>
        <option value="" disabled selected>Select Language</option>
    </select>

    <button onclick="getSimilarities()">Compare</button>


    <div id="similarities_display"></div>

    
</body>
</html>